.right_side {
    float: right;
    right: 0;
    position: relative;

    top: 0%;
    width: 78%;
    height: 120vh;
    left: 0%;
    background-color: antiquewhite;


}

.navbar {
    width: 22%;
    background-color: #1E2027;

    height: 100vh;
    position: fixed;
    left: 0;

    border-right: 1px solid rgba(255, 255, 255, .2);
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 10px rgb(0 0 0 / 10%);
    /* overflow: auto; */
    /* margin-top: 2px; */
    top: 0%;

}

.right_up {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    justify-content: center;
    font-size: 5ch;
    background-image: url('pexels-juan-agustin-2340254.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;

    height: 500px;
}

.right_down {

    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-size: 100% 100%;
    background-image: url('pexels-juan-agustin-2340254_(1).jpg');
}


.left_area {

    /* display: block; */
    left: 44px;
    font-size: 40px;
    position: absolute;
    text-decoration: none;
    top: 50vh;

}

.first {

    text-decoration: none;

}

.second {
    text-decoration: none;

}

.third {
    text-decoration: none;


}

.fourth {

    margin-left: 1px;

    text-decoration: none;


}

.pop_up {
    width: 48%;
    padding-left: 150px;
    padding-top: 12px;
    margin-top: 204px;
    margin-left: 104px;
    margin-bottom: 77px;
}

body {
    min-height: 100vh;
    min-width: 100vh;

    flex-direction: row;
}

.left_up {
    position: relative;
    height: 43vw;
    border-bottom: outset 1px;
    border-color: white;

}

.left_down {
    border-bottom: solid 1px #3C3735;
    height: 50vw;
}

.img {
    left: 10vw;
    width: 60%;
    margin-top: 80px;
    margin-left: 5px;
    border-radius: 50%;
}

.name {
    color: #DFDBD9;
    font-family: sans-serif;
}

.hover1:hover {

    color: #fff;
    /* transition: .15s linear color; */
    /* #DF4500 */
    /* span{ color: #DF4500; } */

}


span {

    font-weight: 700;
    transition: .15s linear color;
}

span:hover {
    color: #DF4500;

}

ul{
    list-style-type: none;
    width:40%;
    height:50%;
    padding: 1.1em;
   
}
a{
    font-size: 130%;
}
.nav_ob{
    color:#DFDBD9;
}